{% extends 'base.html' %}
{% load static %}
{% block content %}    
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heding">
              <h1>১০ এর নামতা</h1>
            </div>
      
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-lg-3 d-flex justify-content-end">
            <div class="multiplication">
                <a href="#">১০ x ১ = ১০</a>
                <a href="#">১০ x ২ = ২০</a>
                <a href="#">১০ x ৩ = ৩০ </a>
                <a href="#">১০ x ৪ = ৪০</a>
                <a href="#">১০ x ৫ = ৫০</a>
                <a href="#">১০ x ৬ = ৬০</a>
                <a href="#">১০ x ৭ = ৭০</a>
                <a href="#">১০ x ৮ = ৮০</a>
                <a href="#">১০ x ৯ = ৯০ </a>
                <a href="#">১০ x ১০ = ১০০</a>
            </div>
          </div>
          <div class="col-lg-6 d-flex justify-content-start">
            <div class="videos">
              <iframe  src="https://www.youtube.com/embed/xLm4bUZ5zFM?start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
      </div>
</section>
{% endblock content %}