{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heding">
          <h1>১ এর নামতা</h1>
        </div>
  
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-lg-3 d-flex justify-content-end">
        <div class="multiplication">
            <a href="#">১ x ১ = ১</a>
            <a href="#">১ x ২ = ২</a>
            <a href="#">১ x ৩ = ৩</a>
            <a href="#">১ x ৪ = ৪</a>
            <a href="#">১ x ৫ = ৫</a>
            <a href="#">১ x ৬ = ৬</a>
            <a href="#">১ x ৭ = ৭</a>
            <a href="#">১ x ৮ = ৮</a>
            <a href="#">১ x ৯ = ৯</a>
            <a href="#">১ x ১০ = ১০</a>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="videos">
          <iframe src="https://www.youtube.com/embed/fZV4wGU5aAc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock content %}
    