{% extends 'base.html' %}
{% load static %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heding">
              <h1>২ এর নামতা</h1>
            </div>
    
          </div>
        </div>
      </div>
    
    
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-lg-3 d-flex justify-content-end">
            <div class="multiplication">
              <a href="#">২ x ১ = ২ </a>
              <a href="#">২ x ২ = ৪ </a>
              <a href="#">২ x ৩ = ৬ </a>
              <a href="#">২ x ৪ = ৮ </a>
              <a href="#">২ x ৫ = ১০ </a>
              <a href="#">২ x ৬ = ১২ </a>
              <a href="#">২ x ৭ = ১৪ </a>
              <a href="#">২ x ৮ = ১৬ </a>
              <a href="#">২ x ৯ = ১৮ </a>
              <a href="#">২ x ১০ = ২০ </a>
            </div>
          </div>
    
          <div class="col-lg-6 d-flex justify-content-start">
            <div class="videos">
              <iframe src="https://www.youtube.com/embed/5lVVeb6rt9A?start=7"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
    
        </div>
    
      </div>
</section>

{% endblock content %}
    