{% extends 'base.html' %}
{% load static %}


{% block content %}    
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heding">
              <h1>৩ এর নামতা</h1>
            </div>
    
          </div>
        </div>
      </div>
    
    
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-lg-3 d-flex justify-content-end">
            <div class="multiplication">
              <a href="#">৩ x ১ = ৩</a>
              <a href="#">৩ x ২ = ৬</a>
              <a href="#">৩ x ৩ = ৯ </a>
              <a href="#">৩ x ৪ = ১২</a>
              <a href="#">৩ x ৫ = ১৫</a>
              <a href="#">৩ x ৬ = ১৮</a>
              <a href="#">৩ x ৭ = ২১</a>
              <a href="#">৩ x ৮ = ২৪</a>
              <a href="#">৩ x ৯ = ২৭ </a>
              <a href="#">৩ x ১০ = ৩০</a>
            </div>
          </div>
    
    
    
          <div class="col-lg-6 d-flex justify-content-start">
            <div class="videos">
              <iframe src="https://www.youtube.com/embed/yY3Gxjdg060" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
    
    
        </div>
      </div>
    
</section>
{% endblock content %}
    