{% extends 'base.html' %}
{% load static %}
{% block content %}    
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heding">
              <h1>৪ এর নামতা</h1>
            </div>
      
          </div>
        </div>
      </div>
    
    
    
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-lg-3 d-flex justify-content-end">
            <div class="multiplication">
                <a href="#">৪ x ১ = ৪ </a>
                <a href="#">৪ x ২ = ৮ </a>
                <a href="#">৪ x ৩ = ১২ </a>
                <a href="#">৪ x ৪ = ১৬ </a>
                <a href="#">৪ x ৫ = ২০ </a>
                <a href="#">৪ x ৬ = ২৪ </a>
                <a href="#">৪ x ৭ = ২৮ </a>
                <a href="#">৪ x ৮ = ৩২ </a>
                <a href="#">৪ x ৯ = ৩৬ </a>
                <a href="#">৪ x ১০ = ৪০ </a>
            </div>
          </div>
    
    
          <div class="col-lg-6 d-flex justify-content-start">
            <div class="videos">
              <iframe src="https://www.youtube.com/embed/bhLAQ-mQBnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}