{% extends 'base.html' %}
{% load static %}
{% block content %}    
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heding">
              <h1>৫ এর নামতা</h1>
            </div>
    
          </div>
        </div>
      </div>
    
    
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-lg-3 d-flex justify-content-end">
            <div class="multiplication">
              <a href="#">৫ x ১ = ৫</a>
              <a href="#">৫ x ২ = ১০</a>
              <a href="#">৫ x ৩ = ১৫ </a>
              <a href="#">৫ x ৪ = ২০</a>
              <a href="#">৫ x ৫ = ২৫</a>
              <a href="#">৫ x ৬ = ৩০</a>
              <a href="#">৫ x ৭ = ৩৫</a>
              <a href="#">৫ x ৮ = ৪০</a>
              <a href="#">৫ x ৯ = ৪৫ </a>
              <a href="#">৫ x ১০ = ৫০</a>
            </div>
          </div>
    
    
          <div class="col-lg-6 d-flex justify-content-start">
            <div class="videos">
              <iframe src="https://www.youtube.com/embed/Ov07ZH5l_Eo" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
</section>
{% endblock content %}