{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heding">
                    <h1>৬ এর নামতা</h1>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-lg-3 d-flex justify-content-end">
                <div class="multiplication">
                    <a href="#">৬ x ১ = ৬</a>
                    <a href="#">৬ x ২ = ১২</a>
                    <a href="#">৬ x ৩ = ১৮ </a>
                    <a href="#">৬ x ৪ = ২৪</a>
                    <a href="#">৬ x ৫ = ৩০</a>
                    <a href="#">৬ x ৬ = ৩৬</a>
                    <a href="#">৬ x ৭ = ৪২</a>
                    <a href="#">৬ x ৮ = ৪৮</a>
                    <a href="#">৬ x ৯ = ৫৪ </a>
                    <a href="#">৬ x ১০ = ৬০</a>
                </div>
            </div>


            <div class="col-lg-6 d-flex justify-content-start">
                <div class="videos">
                    <iframe src="https://www.youtube.com/embed/O6NYG2Xb8PQ"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}