{% extends 'base.html' %}
{% load static %}
{% block content %}    
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heding">
              <h1>৭ এর নামতা</h1>
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-lg-3 d-flex justify-content-end">
            <div class="multiplication">
                <a href="#">৭ x ১ = ৭</a>
                <a href="#">৭ x ২ = ১৪</a>
                <a href="#">৭ x ৩ = ২১ </a>
                <a href="#">৭ x ৪ = ২৮</a>
                <a href="#">৭ x ৫ = ৩৫</a>
                <a href="#">৭ x ৬ = ৪২</a>
                <a href="#">৭ x ৭ = ৪৯</a>
                <a href="#">৭ x ৮ = ৫৬</a>
                <a href="#">৭ x ৯ = ৬৩ </a>
                <a href="#">৭ x ১০ = ৭০</a>
            </div>
          </div>
    
    
          <div class="col-lg-6 d-flex justify-content-start">
            <div class="videos">
              <iframe src="https://www.youtube.com/embed/dSbQbDZCqWE?start=109" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
         
    
        </div>
      </div>
      </div>
    
</section>
{% endblock content %}