{% extends 'base.html' %}
{% load static %}
{% block content %}    
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heding">
              <h1>৮ এর নামতা</h1>
            </div>
    
          </div>
        </div>
      </div>
    
    
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-lg-3 d-flex justify-content-end">
            <div class="multiplication">
              <a href="#">৮ x ১ = ৮</a>
              <a href="#">৮ x ২ = ১৬</a>
              <a href="#">৮ x ৩ = ২৪ </a>
              <a href="#">৮ x ৪ = ৩২</a>
              <a href="#">৮ x ৫ = ৪০</a>
              <a href="#">৮ x ৬ = ৪৮</a>
              <a href="#">৮ x ৭ = ৫৬</a>
              <a href="#">৮ x ৮ = ৬৪</a>
              <a href="#">৮ x ৯ = ৭২ </a>
              <a href="#">৮ x ১০ = ৮০</a>
            </div>
          </div>
    
    
          <div class="col-lg-6 d-flex justify-content-start">
            <div class="videos">
              <iframe src="https://www.youtube.com/embed/XgS8NDfG02M?start=8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    
</section>
{% endblock content %}