{% extends 'base.html' %}
{% load static %}
{% block content %}    
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heding">
              <h1>৯ এর নামতা</h1>
            </div>
      
          </div>
        </div>
      </div>
    
    
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-lg-3 d-flex justify-content-end">
            <div class="multiplication">
                <a href="#">৯ x ১ = ৯</a>
                <a href="#">৯ x ২ = ১৮</a>
                <a href="#">৯ x ৩ = ২৭ </a>
                <a href="#">৯ x ৪ = ৩৬</a>
                <a href="#">৯ x ৫ = ৪৫</a>
                <a href="#">৯ x ৬ = ৫৪</a>
                <a href="#">৯ x ৭ = ৬৩</a>
                <a href="#">৯ x ৮ = ৭২</a>
                <a href="#">৯ x ৯ = ৮১</a>
                <a href="#">৯ x ১০ = ৯০</a>
            </div>
          </div>
    
    
          <div class="col-lg-6 d-flex justify-content-start">
            <div class="videos">
              <iframe src="https://www.youtube.com/embed/W0CZt4YpCaE?start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
        </div>
      </div>
      </div>
    
    
    
</section>
{% endblock content %}