{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>

    .btnt{
      
      width: 60px;
      height: 60px;
      font-weight: 900;
      font-size: 35px;
      color: tomato;
      border: 1px solid black;
      
     
      text-align: center;
      align-items: center;

      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      cursor: pointer;
      
      


  justify-content: center;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;  

    }

    .btnt:hover{
      color: black;
    }
    
    
    .content {   
      text-align: center;
      margin-top: 10px;
    }
    
    .content img {
      border: 10px solid red;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

    }
    
    

    .banjonborno-btn button {
      outline: none;
      margin: 15px 10px;
      text-align: center;
      align-items: center;
    }

    .video{
        text-align: center;
        margin-top: 15px;
    }
    .video iframe{
      border: 1px solid black;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

    }

  </style>
    
<section>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="heding">
              <h1>English numbers</h1>
            </div>
      
          </div>
        </div>
      </div>
      <div class="container">
      
          <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="video">
                  <iframe width="500" height="200" src="https://www.youtube.com/embed/s8r-9StIoq0?start=18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="banjonborno-btn">
      
                  <button onmousedown="bleep.play()" class="btnt" onClick="myFunction()">1</button>
                  <button onmousedown="bleep2.play()" class="btnt" onClick="myFunction2()">2</button>
                  <button onmousedown="bleep3.play()" class="btnt" onClick="myFunction3()">3</button>
                  <button onmousedown="bleep4.play()" class="btnt" onClick="myFunction4()">4</button>
                  <button onmousedown="bleep5.play()" class="btnt" onClick="myFunction5()">5</button>
                  <button onmousedown="bleep6.play()" class="btnt" onClick="myFunction6()">6</button>
                  <button onmousedown="bleep7.play()" class="btnt" onClick="myFunction7()">7</button>
                  <button onmousedown="bleep8.play()" class="btnt" onClick="myFunction8()">8</button>
                  <button onmousedown="bleep9.play()" class="btnt" onClick="myFunction9()">9</button>
                  <button onmousedown="bleep10.play()" class="btnt" onClick="myFunction10()">10</button>
                  <button onmousedown="bleep11.play()" class="btnt" onClick="myFunction11()">11</button>
                  <button onmousedown="bleep12.play()" class="btnt" onClick="myFunction12()">12</button>
      
                  <button onmousedown="bleep13.play()" class="btnt" onClick="myFunction13()">13</button>
                  <button onmousedown="bleep14.play()" class="btnt" onClick="myFunction14()">14</button>
      
                  <button onmousedown="bleep15.play()" class="btnt" onClick="myFunction15()">15</button>
                  <button onmousedown="bleep16.play()" class="btnt" onClick="myFunction16()">16</button>
                  <button onmousedown="bleep17.play()" class="btnt" onClick="myFunction17()">17</button>
                  <button onmousedown="bleep18.play()" class="btnt" onClick="myFunction18()">18</button>
                  <button onmousedown="bleep19.play()" class="btnt" onClick="myFunction19()">19</button>
                  <button onmousedown="bleep20.play()" class="btnt" onClick="myFunction20()">20</button>
                  <button onmousedown="bleep21.play()" class="btnt" onClick="myFunction21()">21</button>
                  <button onmousedown="bleep22.play()" class="btnt" onClick="myFunction22()">22</button>
                  <button onmousedown="bleep23.play()" class="btnt" onClick="myFunction23()">23</button>
                  <button onmousedown="bleep24.play()" class="btnt" onClick="myFunction24()">24</button>
                  <button onmousedown="bleep25.play()" class="btnt" onClick="myFunction25()">25</button>
                  <button onmousedown="bleep26.play()" class="btnt" onClick="myFunction26()">26</button>
                  <button onmousedown="bleep27.play()" class="btnt" onClick="myFunction27()">27</button>
                  <button onmousedown="bleep28.play()" class="btnt" onClick="myFunction28()">28</button>
                  <button onmousedown="bleep29.play()" class="btnt" onClick="myFunction29()">29</button>
                  <button onmousedown="bleep30.play()" class="btnt" onClick="myFunction30()">30</button>
                  <button onmousedown="bleep31.play()" class="btnt" onClick="myFunction31()">31</button>
                  <button onmousedown="bleep32.play()" class="btnt" onClick="myFunction32()">32</button>
                  <button onmousedown="bleep33.play()" class="btnt" onClick="myFunction33()">33</button>
                  <button onmousedown="bleep34.play()" class="btnt" onClick="myFunction34()">34</button>
                  <button onmousedown="bleep35.play()" class="btnt" onClick="myFunction35()">35</button>
                  <button onmousedown="bleep36.play()" class="btnt" onClick="myFunction36()">36</button>
                  <button onmousedown="bleep37.play()" class="btnt" onClick="myFunction37()">37</button>
                  <button onmousedown="bleep38.play()" class="btnt" onClick="myFunction38()">38</button>
                  <button onmousedown="bleep39.play()" class="btnt" onClick="myFunction39()">39</button>
                  <button onmousedown="bleep40.play()" class="btnt" onClick="myFunction40()">40</button>
                  <button onmousedown="bleep41.play()" class="btnt" onClick="myFunction41()">41</button>
                  <button onmousedown="bleep42.play()" class="btnt" onClick="myFunction42()">42</button>
                  <button onmousedown="bleep43.play()" class="btnt" onClick="myFunction43()">43</button>
                  <button onmousedown="bleep44.play()" class="btnt" onClick="myFunction44()">44</button>
                  <button onmousedown="bleep45.play()" class="btnt" onClick="myFunction45()">45</button>
                  <button onmousedown="bleep46.play()" class="btnt" onClick="myFunction46()">46</button>
                  <button onmousedown="bleep47.play()" class="btnt" onClick="myFunction47()">47</button>
                  <button onmousedown="bleep48.play()" class="btnt" onClick="myFunction48()">48</button>
                  <button onmousedown="bleep49.play()" class="btnt" onClick="myFunction49()">49</button>
                  <button onmousedown="bleep50.play()" class="btnt" onClick="myFunction50()">50</button>
                </div>
              </div>
          </div>
      
      </div>
      
      
      
</section>

{% endblock content %}
    