{% extends 'base.html' %}
{% load static %}


{% block content %}

<section>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heding">
                    <h1>English Alphabet</h1>
                </div>
            </div>
        </div>
    </div>





    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 ">
                <a href="{% url 'capitalAlphabet' %}">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'english-img/card2.png' %}" alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title">Capital alphabet letters</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-3 col-md-3">
                <a href="{% url 'smallAlphabet' %}">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'english-img/card.png' %}" alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title">small alphabet letters</h4>

                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

{% endblock content %}